@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Oleh Mazurkevych<br/>
    Ukraine, Lviv<br/>
</address>

<address>
    <strong>Questions:</strong> <a href="mailto:o.mazurkevych@artygeek.com">o.mazurkevych@artygeek.com</a><br />
</address>
